body {
    background-color:#98b2fa;
}
#logo img {
    position: absolute;
    opacity: 7%;
    margin-top: 100px;
    margin-left: 408px;
    width: 700px;
}
#part img {
    position: relative;
    margin-top: -250px;
    width: 1500px;
    height: 300px;
}
