body {
    background-color:#98b2fa;
}
#logo img {
    margin-left: 645px;
    width: 200px;
}
#part img {
    position: relative;
    margin-top: -250px;
    width: 1500px;
    height: 300px;
}
@media(max-width: 992px) {
    img {
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 768px) {
    img {
        display: flex;
        justify-content:  center;
    }
}

@media(max-width: 399px) {
    img {
        display: flex;
        justify-content:  center;
    }
}

@media(max-width: 360px) {
    img {
        display: flex;
        justify-content:  center;
    }
}
